.containerEspecial {
    display: block;
    margin-left: 15%;
    margin-top: 15% ;
    
}

  .divBorderStat
{
margin-top:-40px;
margin-left:-70px;
float: left;
width:75%;
height:100%;
border: 5px solid;
padding: 0px;
border-image: url(../DivsLadoIzquierdo/Imagenes/wood.png) 50 ;
}
  
.ancho{
 
    margin-bottom: 15px

}




