.containerEspecial {
    display: block;
    margin-left: 15%;
    margin-top: 15% ;
    
  }

  .divBorderStat
{
float: left;
width:88%;
height:100%;
border: 5px solid;
padding: 0px;
border-image: url(../DivsLadoIzquierdo/Imagenes/wood.png) 50 ;
}
  
.ancho{
 
    margin-bottom: 15px

}



.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(30, end),aparece 0s 2s forwards;
  animation-delay: 2s;
  visibility: hidden;
  
}

.typewriter-text1 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2s steps(30, end),aparece 0s 4s forwards;
    animation-delay: 4s;
    visibility: hidden;
    
  }

  .typewriter-text2 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2s steps(30, end),aparece 0s 6s forwards;
    animation-delay: 6s;
    visibility: hidden;
    
  }

  .typewriter-text3 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2s steps(30, end),aparece 0s 8s forwards;
    animation-delay: 8s;
    visibility: hidden;
    
  }


@keyframes aparece {
    to   { visibility: visible; }
}






@keyframes typing {
  from { 
      width: 0%;
  }
  to { 
      width: 100%;
  }
}

