.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2s steps(30, end),aparece 0s 2s forwards;
    animation-delay: 2s;
    visibility: hidden;
    
  }

.noMargin{
  padding-left: 0px;
}

.imgAjustar{
  width: 100%
}

  .containerEspecial {
    display: block;
    margin-left: 25%;
    margin-top: 12% ;
    
}

.imageContainer{
  position: relative;
  width: 0px;
  height: 0px;
}

.imagenGanador{
  position: relative;
  bottom: -137px;
  width: 130px;
  right: -121px;
}

.nombrePerdedor {
  font-size: 2em;
  position: absolute;
  left: 60px;
  top: 50px;
}

.nombreGanador{
  font-size: 2em;
  position: absolute;
  left: 370px;
  top: 202px;
}

.imagenPerdedor{
  position: relative;
  top: -100px;
  right: -400px;
  width: 130px;
}
  
  .typewriter-text0 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 4s forwards;
      animation-delay: 4s;
      visibility: hidden;
      
    }
  
    .typewriter-text1{
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 6s forwards;
      animation-delay: 6s;
      visibility: hidden;
      
    }
  
    .typewriter-text2 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 8s forwards;
      animation-delay: 8s;
      visibility: hidden;
      
    }

    .typewriter-text3 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 10s forwards;
      animation-delay: 10s;
      visibility: hidden;
      
    }

    .typewriter-text4 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 12s forwards;
      animation-delay: 12s;
      visibility: hidden;
      
    }

    .typewriter-text5 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 14s forwards;
      animation-delay: 14s;
      visibility: hidden;
      
    }
    .typewriter-text6 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 16s forwards;
      animation-delay: 16s;
      visibility: hidden;
      
    }
    .typewriter-text7 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 18s forwards;
      animation-delay: 18s;
      visibility: hidden;
      
    }

    .typewriter-text8 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 20s forwards;
      animation-delay: 20s;
      visibility: hidden;
      
    }
    .typewriter-text9 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: typing 2s steps(30, end),aparece 0s 22s forwards;
      animation-delay: 22s;
      visibility: hidden;
      
    }
  
  
  @keyframes aparece {
      to   { visibility: visible; }
  }
  
  
  
  
  
  
  @keyframes typing {
    from { 
        width: 0%;
    }
    to { 
        width: 100%;
    }
  }
  