

.AlignLeft{
    text-align:"left";
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

div
{
float: left;
width:100%;
height:100%;


}

.ajustar{
    width:100%; 
    height:70%;
}




  